.container {        
    display: grid;
    grid-template-columns: repeat(3 , minmax(300px, 1fr));
    width: 100%;
}

.div-container {
    border-width: 2px;
    border-color: #4f46e5;
    margin: 20px;
}

img {
    object-fit: cover;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1f2937;
}