.frm-container {
    border-radius: 5px;
    border-width: 2px;
    border-color: blueviolet;
    margin: 50px;
    padding: 50px;
    width: 90%;
}

.div-perfil {
    margin-bottom: 20px;
    width: auto;
}

img {
    object-fit:fill;
    border-radius: 50%;
    margin-left: 10px;
}